@import url("./_font-face.css");

/* body {
  font-family: "DM", sans-serif;
  letter-spacing: -1px !important;
  line-height: 1.5;
}

h1,
h2,
.site-title span {
  font-family: "Cubano", serif;
  font-weight: normal !important;
}



.site-title span {
  color: white;
} */

h1,
h2,
.site-title span {
  font-family: "Cubano", serif;
  font-weight: normal !important;
  color: white;
}

.content h2 {
  margin-top: 1.25rem !important;
}
.content p {
  margin-top: 0.5rem !important;
}
